/* Global Styles */
:root {
  --color-text: #969696;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1.6;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: none;
}

.wrapper {
  width: 75%;
  margin: 60px auto;
  display: grid;
  grid-auto-rows: auto;
}

/* Header */
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background: #FFF;
  width: 100%;
  height: 72px;
}

.header__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
  background-color: #d3d3d3;
}

.button__menu-open {
  color: #111;
  font-size: 35px;
  align-self: center;
  position: fixed;
  transform: rotate(-90deg);
}

.capa--opacity {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .4s ease all;
}

.capa--opacity.active {
  visibility: initial;
  background-color: #000000a3;
  transition: .4s ease all;
}

.header__menu {
  position: fixed;
  z-index: 150;
  width: 0;
  height: 100%;
  left: 0;
  background-color: #000000e8;
  overflow: hidden;
  transition: .4s;
}

.header__menu.active {
  width: 60%;
  height: 100%;
}

.menu__container {
  width: 100%;
  height: max-content;
  display: grid;
  padding: 20px 20px 10px;
  grid-template-columns: 1fr;
  grid-auto-rows: row;
  justify-items: center;
}

.button__menu-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  justify-self: end;
  overflow: hidden;
  color: #fff;
  font-size: 30px;
}

.menu__list {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.menu__item a {
  color: #fff;
}

/* MAIN - SECTION HERO */
container__main {
  width: max-content;
  height: max-content;
  margin: auto;
}

.hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  /* width: 100%; */
  margin: 0 20px;
  display: grid;
  grid-gap: 32px;
  color: #FFF;
}

.hero__form {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

.hero__form input {
  width: 100%;
  padding: 10px 12px;
  justify-self: center;
  font-size: 20px;
  border: none;
}

.form__email::placeholder {
  text-transform: uppercase;
}

.form__submit {
  background: #f7783e;
  color: #FFF;
  text-transform: uppercase;
}

/* SECTION RELATIONSHIP */
.container__relationship {
  width: 100%;
}

.relationship__content {
  display: grid;
  width: 75%;
  margin: 60px auto;
  gap: 31px;
}

.relationship__group {
  justify-self: center;
  align-items: center;
  padding: 10px;
  width: 100%;

  display: grid;
  justify-items: center;
  height: 270.766px;
  height: max-content;
  text-align: center;
}

.relationship__group:nth-child(2) {
  background-color: #f7783e;
  color: #FFFFFF;
}

.relationship__group:nth-child(2) a {
  color: #FFF;
}

.relationship--animation {
  opacity: 0;
  transform: translateY(100px);
  transition: 1s ease-in-out all;
}

.relationship--animation.visible {
  opacity: 1;
  transform: translateY(0);
  transition: .8s ease-in-out all;
}

.photo__group {
  width: 64px;
}

.title__group {
  font-size: 20px;
  margin: 20px auto 0;
}

.text__group {
  font-size: 16px;
  margin: 21px 0 0;
  word-wrap: break-word;
}

.anchor__group {
  margin: 30px auto 0;
  bottom: 0;
  text-transform: uppercase;
  color: #000;
}

.anchor__group img {
  width: 15px;
  height: 15px;
  align-self: flex-end;
  margin-right: 7px;
  text-align: end;
}

/* SECTION ABOUT US */
.aboutUs {
  width: 100%;
  /* height: max-content; */
  display: grid;
  grid-auto-rows: auto;
  background-color: #f2f2f2;
  overflow: hidden;
}

.aboutUs__content {
  /* width: min-content; */
  display: grid;
  grid-auto-rows: auto;
  /* border: 1px solid black; */
  margin: 30px 10px;
}

.aboutUs__content h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #111111;
  padding: 0;
}

.aboutUs__content h2 {
  margin-top: 22px;
  font-weight: 700;
  font-size: 36px;
}

.aboutUs__content h5 {
  margin-top: 20px;
  font-size: 20px;
  color: #f7783e;
  font-weight: normal;
}

.psychologist__content {
  display: grid;
  grid-auto-rows: auto;
  margin: 30px 10px;
}

.firstTitle__psychologist {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  width: max-content;
}

.psychologist__content p {
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
}

.secondTitle__psychologist {
  font-size: 20px;
  margin-top: 20px;
  width: max-content;
}

.aboutUs--animation {
  opacity: 0;
  transform: translateX(90px);
  transition: .8s ease-in-out all;
}

.aboutUs--animation.visible {
  opacity: 1;
  transform: translateX(0);
  transition: .8s ease-in-out all;
}

/* ---------------------------- */
/* SECTION 5 */
.section5 {
  width: 100%;
}

.description__section5 {
  width: 100%;
  height: 640px;
  padding: 30px 10px;
}

.description__container {
  width: 100%;
  position: relative;
  /* height: min-content; */
}

.figure__description {
  width: 100%;
  height: 374px;
}

.figure__description img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__description {
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
  background-color: #f2f2f2;
  padding: 30px 10px;
}

.image__content {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-image: url(img/imagen2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.text__content {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 400;
  color: #111111;
}

.profession__content {
  width: max-content;
  font-size: 18px;
  margin: 20px auto 0 0;
  font-weight: 700;
}

.description--animation {
  opacity: 0;
  position: absolute;
  bottom: -62%;
  transform: translateX(-30px);
  transition: .8s ease-in-out all;
}

.description--animation.visible {
  opacity: 1;
  transform: translateX(0);
  transition: .8s ease-in-out all;
}

.comprobation__section5 {
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
}

.groups__comprobation {
  width: 100%;
  /* height: auto   ; */
  display: grid;
  justify-items: center;
  text-align: center;
  justify-self: center;
  margin: 30px 0px;
}

.icon__comprobation {
  width: 86px;
  height: 86px;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #f7783e;
}

.groups__comprobation img {
  width: 66px;
}

.title__comprobation h5 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 33px;
}

.groups__comprobation:nth-child(2) {
  background-color: #f2f2f2;
  padding: 30px 10px;
  margin: 0;
}

.comprobation--animation {
  opacity: 0;
  transform: translateX(30px);
  transition: .8s ease-in-out all;
}

.comprobation--animation.visible {
  opacity: 1;
  transform: translateX(0);
  transition: .8s ease-in-out all;
}

/* SECTION CULTURE */
.culture {
  width: 100%;
}

.container__specialist {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
}

.specialist__title {
  font-size: 20px;
  color: var(--color-text);
  text-transform: capitalize;
}

.specialist__secondTitle {
  margin-top: 20px;
  font-size: 36px;
}

.specialist__text {
  font-size: 16px;
  margin-top: 21px;
  color: var(--color-text);
}

.content__mision_vision {
  display: grid;
  grid-auto-rows: auto;
  padding: 30px 10px;
}

.mision,
.vision {
  display: grid;
  grid-template-columns: min-content 2fr;
  padding: 10px;
}

.mision__image {
  width: max-content;
}

.mision__image img,
.vision__image img {
  width: 64px;
  height: 64px;
}

.mision__title,
.vision__title {
  font-size: 20px;
  font-weight: bold;
}

.mision__text,
.vision__text {
  font-size: 16px;
  margin-top: 20px;
  color: var(--color-text);
}

.image__culture {
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
}

.mv--animation {
  opacity: 0;
  transform: translateX(-30px);
  transition: .8s ease-in-out all;
}

.mv--animation.visible {
  opacity: 1;
  transform: translateX(0);
  transition: .8s ease-in-out all;
}

/* SECTION 7 */
.section7 .wrapper {
  width: 100%;
  height: 800px;
  background-color: #f2f2f2;
  display: grid;
  justify-content: center;
}

.container__section7 {
  width: max-content;
  height: max-content;
  display: grid;
  grid-auto-rows: auto;
  justify-content: center;
  align-self: center;
}

.container__section7,
.content__titleS7,
.section7__contact {
  background-color: #FFF;
  text-align: center;
}

.content__titleS7 {
  width: 100%;
  /* height: fit-content; */
  padding: 30px 10px;
}

.section7__contact {
  width: 100%;
  display: grid;
  grid-template-columns: min-content max-content;
  justify-content: center;
  padding: 30px 10px;
}

.section7__contact a {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: 1px;
}

/* SECTION 8 */
.section8 {
  width: 100%;
}

.container__S8 {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
}

.container__imageS8 {
  width: 100%;
  height: min-content;
  align-self: center;
}

.container__groupS8 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.content__groupS8 {
  width: 100%;
}

.anchor__contentS8 {
  width: 100%;
  display: grid;
  font-weight: 700;
  grid-template-columns: 1fr min-content;
  justify-content: space-around;
  align-items: center;
  grid-auto-rows: auto;
  color: #f7783e;
  padding: 30px;
}

.btn__S8 {
  width: 40px;
  height: 40px;
  background-color: #f7783e;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
  justify-self: center;
}

.btn__S8 span {
  width: min-content;
  height: min-content;
  color: #FFF;
  font-size: 30px;
  font-weight: normal;
}

#contentS8Hidden,
#contentS8Hidden2,
#contentS8Hidden3,
#contentS8Hidden4 {
  display: none;
}

#contentS8Hidden.textS8--mostrar,
#contentS8Hidden2.textS8--mostrar,
#contentS8Hidden3.textS8--mostrar,
#contentS8Hidden4.textS8--mostrar {
  display: block;
}

.containerS8__hidden {
  display: grid;
  grid-auto-rows: auto;
  padding: 30px 10px;
}

.listS8__anchor {
  margin: 20px 0;
}

.listS8__anchor li {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.listS8__anchor li p {
  margin-left: 20px;
}

.text__contenthidden {
  /* color: red; */
  font-weight: 700;
  font-size: 16px;
}

/* SECTION PRICING */
.container__pricing {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}

.pricing__title h2 {
  font-size: 36px;
  text-transform: capitalize;
  line-height: normal;
}

.pricing__text p {
  text-align: center;
  margin-top: 30px;
}

.container__plans {
  width: 100%;
  height: max-content;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.groups__plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


.type__plan {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  background-color: #f7783e;
  padding: 0 10px;
  color: #fff;

}

.type__plan h3 {
  font-size: 20px;
  font-weight: 700;
}

.fa-gem,
.fa-paper-plane,
.fa-bullhorn {
  color: #fff;
  font-size: 14px;
  /* font-weight: normal; */
}

.content__plan {
  width: 220px;
  height: 405px;
  height: max-content;
  display: flex;
  margin-top: 22px;
  flex-direction: column;
  /* justify-self: center; */
  align-self: center;
  padding: 30px 10px;
}

.content__plan h2 {
  text-align: center;
  font-size: 24px;
}

.list_plan {
  width: 100%;
  margin-top: 37px;
}

.item_plan {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  line-height: 2.5;
}

.submit__plan {
  width: max-content;
  align-self: center;
  background-color: #f7783e;
  margin: 37px auto 0;
  padding: 11px 53px 11px 52px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.container__plans img {
  width: 12.8px;
}

/* SECTION BENEFITS */
.benefits {
  width: 100%;
}

.container__benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.benefit__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefit__header,
.benefit__company,
.benefit__work {
  margin-left: 30px;
}

.benefit__header h2 {
  font-size: 36px;
  line-height: 1.2em;
}

.secondTitle__benefits {
  font-size: 20px;
  margin-top: 20px;
}

.text__benefits {
  font-size: 16px;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-text);
}

.fa-mobile-screen-button,
.fa-user {
  color: #f7783e;
  font-size: 48px;
}

.benefit__contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.benefit__contact a p {
  font-size: 36px;
  color: #111;
  font-weight: 700;

}

.fa-phone {
  font-size: 24px;
  color: #f7783e;
  margin-top: 10px;

}

/* SECTION HELP */
.help {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 40px;
  margin-bottom: 0;
}

.help .wrapper {
  padding: 30px 10px;
}

.container__help {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__helpUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 8px;
}

.first__title_help {
  font-size: 20px;
  color: var(--color-text);
}

.second__title_help {
  font-size: 36px;
  line-height: 1.2em;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0;
}

.text__help {
  font-size: 16px;
  color: var(--color-text);
  margin-top: 20px;
}

.list__help {
  margin: 51px 0 0 2px;
}

.item__help {
  list-style: initial;
  font-size: 20px;
  font-weight: 1000;
  color: #f7783e;
  margin-left: 20px;
}

.content__form_contactUs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.first__title_contact {
  font-size: 20px;
  font-weight: normal;
}

.second__title_contact {
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: 900;
  line-height: normal;
}

.form__contact {
  width: 300px;
  height: 335px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  padding: 30px 20px;
  border-radius: 15px;
}

.form__contact label {
  font-size: 16px;
  color: #111;
}

.form__contact input,
.form__contact textarea {
  width: 100%;
  padding: 10px 12px;
  color: var(--color-text);
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.form__contact textarea {
  height: 124.38px;
}

.form__contact input::placeholder,
.form__contact textarea::placeholder {
  font-size: 16px;
}

.submit__contact {
  width: max-content;
  background-color: #f7783e;
  padding: 10px 30px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  width: 100%;
}

.container__footer {
  width: 100%;
  background-color: #333333;
  display: grid;
  margin: auto;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-auto-rows: auto;
  color: #FFF;
  height: min-content;
}

.content__footer {
  width: 100%;
  height: max-content;
  display: grid;
  justify-content: center;
  text-align: center;
}

.text__footer {
  margin: 49px 0;
  font-size: 14px;
  width: max-content;
}

.build__website {
  margin: 20px 0;
  padding: 16px;
  font-size: 12.8px;
  word-wrap: break-word;
}

.build__website a {
  color: #d5c5f7;
  text-decoration: underline;
}